body {
  background-color: #f5f5f5;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
}

.container {
  font-family: "Lato", sans-serif;
  align-items: center;
  background-color: white;
  border: 1px solid hotpink;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: hotpink;
}

img {
  margin: 20px;
  max-width: 100%;
}

.stats {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.stat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: hotpink;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  background-color: hotpink;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 45%;
}

button:hover {
  background-color: lightpink;
}

#message {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
  color: hotpink;
}

#type-input {
  color: hotpink;
}

#name {
  color: hotpink;
}

#tamagotchi-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: hotpink;
}

#tamagotchi-form label,
#tamagotchi-form input,
#tamagotchi-form select,
#tamagotchi-form button {
  margin-bottom: 1rem;
}
